In [1]:
import csv

with open('datos.csv', 'r', encoding='utf-8') as archivo:
    reader = csv.reader(archivo)
    for row in reader:
        print(row)

['Nombre', 'Apellido', 'Edad']
['Antonio', 'López', '54']
['María', 'García', '21']
['Laura', 'Barranco', '84']

In [2]:
import pandas as pd

archivo = pd.read_csv('datos.csv')
archivo

    Nombre  Apellido  Edad
0  Antonio     López    54
1    María    García    21
2    Laura  Barranco    84

In [29]:
def secuencia_fibonacci(number):
    a,b=0,1 #desempaquetamos
    lista_fibonacci = [0]
    for i in range(number):
        if b > number: return lista_fibonacci
        else:
            lista_fibonacci.append(b)
            a,b = b, a+b

resultado = secuencia_fibonacci(21)
print(resultado)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [1]:
cadena = '0123456789'
print(cadena) #0123456789
print(cadena[:]) #0123456789
print(cadena[:3]) #012  COMIENZA EN EL ÍNDICE 0 Y TERMINA EN EL 3
print(cadena[:7]) #0123456
print(cadena[4:7]) #456  COMIENZA EN EL ÍNDICE 4 Y TERMINA EN EL 7
print(cadena[2:6]) #2345
print(cadena[3:]) #3456789 COMIENZA EN EL ÍNDICE 3 Y TERMINA EN EL ÚLTIMO

print(cadena[2::2]) #2468
print(cadena[2:7:2]) #246 [inicio:fin:paso]

0123456789
0123456789
012
0123456
456
2345
3456789
2468
246